/* About.css */
.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;

}

.heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.paragraph {
  font-size: 25px;
  line-height: 2.1;
  color:#15c679 ; 
  text-align: center;
  font-style: inherit;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

