body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.contact-us-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1515150144380-bca9f1650ed9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80');
  background-size: cover;
  background-position: center;
}

.contact-us-form {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 50%; /* Increase the form width to 70% of the container */
  margin-right: 50px; /* Add more spacing between form and image */
}

.contact-us-image {
  flex: 1; /* Take the remaining space */
  background-image: url('https://images.unsplash.com/photo-1515150144380-bca9f1650ed9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  height: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #007bff;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px; /* Increase the font size for better readability */
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
  font-size: 16px; /* Increase the font size for better readability */
}

button:hover {
  background-color: #233547;
}

/* Add additional styles here if needed */